body {
  font-family: Arial;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  text-align: center;
}

.container {
  background: white;
  width: 60%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

input {
  width: 80%;
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 25px;
  background: #4facfe;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #007acc;
}

.accuracy {
  font-size: 18px;
  margin-bottom: 15px;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.plots img {
  width: 30%;
  margin: 10px;
}
